/*
SASS nesting
nest css rules by adding a selector{} rule
inside another selector{} rule
nested rules will act as descendant selectors 

this can be useful in that it keeps related rules
together in the code base, easier to maintain/read
*/
header {
  flex-wrap: wrap;
  background-color: #a31a1a;
  color: white;
  display: flex;
  justify-content: space-between;
}

header nav {
  display: none;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav a {
  display: block;
  line-height: 45px;
  padding: 0 16px;
  font-size: 1.3em;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Responsive Images Reset */
img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

body {
  margin: 0;
  background-color: #e0e0e0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, nav a {
  font-family: 'Righteous', cursive;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

header h1 {
  padding-left: 20px;
}

header a {
  color: white;
  text-decoration: none;
}

header a:focus,
header a:active,
header a:hover {
  color: white;
  text-decoration: none;
}

header h1 a:focus,
header h1 a:active,
header h1 a:hover {
  text-decoration: underline;
}

header button {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 64px;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
  margin-right: 10px;
  padding: 0 10px;
}

header h1 {
  margin: 0;
  line-height: 64px;
}

.show header nav {
  display: block;
  width: 100%;
}

header nav a:hover,
header nav a:focus,
header nav a:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.banner {
  position: relative;
}

.banner h2 {
  line-height: 1;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
  font-size: 14vw;
}

section {
  padding: 30px;
}

section + section {
  padding-top: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.one-col {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.one-col h1 {
  font-size: 2.2em;
  text-align: center;
}

.three-col {
  width: 100%;
}

.two-col {
  width: 100%;
}

.three-col img {
  margin-bottom: 1em;
}

footer {
  padding: 30px;
  border-top: 1px dotted black;
}

@media (min-width: 690px) {
  header nav ul {
    display: flex;
  }
  header nav {
    display: block;
  }
  header nav a {
    line-height: 64px;
    padding: 0 16px;
    font-size: 1.3em;
  }
  header button {
    display: none;
  }
  .banner h2 {
    font-size: 6rem;
  }
  .three-col {
    width: 31%;
  }
  .two-col {
    width: 48%;
  }
  .two-col:nth-child(2) {
    text-align: right;
  }
}
